.container {
  display: grid;
  grid-template-rows: auto;
  background-color: orange;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.btn-layout {
  display: grid;
  grid-template-columns: repeat(3, 50px);

  grid-gap: .5em;
  margin: 0 auto;
  max-width: 64em;
  padding: 0;
  padding-top: 15px;
}

.buttons {
  
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #555555;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
  
}

.answer {
  border: 2px solid black;
  height: 50px;
  width: 300px;
  padding: 10px 15px;

  text-align: center;
  margin: 0 auto;
}

.buttons:hover {background-color: #3e8e41}

.buttons:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.clearbtn {
  background-color: #f44336;
  padding: 15px 25px;
  width: 150px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}